apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: database-pgadmin
  namespace: flux-system
spec:
  dependsOn:
    - name: database-cloudnative-pg-cluster
  path: ./kubernetes/apps/database/pgadmin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: pgadmin
      namespace: database
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 3m
