---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ntfy
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      ntfy:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            args: ["serve"]
            image:
              repository: binwiederhier/ntfy
              tag: v2.16.0
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 256Mi
    service:
      app:
        controller: ntfy
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: "nginx"
        annotations:
          external-dns.alpha.kubernetes.io/target: "ingress-cf.${SECRET_DOMAIN_2}"
        hosts:
          - host: &host ntfy.${SECRET_DOMAIN_3}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      attachments:
        type: emptyDir
        globalMounts:
          - path: /var/cache/ntfy/attachments
            readOnly: false
      server-yml:
        type: configMap
        name: ntfy-server-config
        globalMounts:
          - path: /etc/ntfy/server.yml
            subPath: server.yml
            readOnly: true
      data:
        enabled: true
        existingClaim: ntfy-data
        advancedMounts:
          ntfy:
            app:
              - path: /data
