---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: athens
  namespace: dev
spec:
  interval: 15m
  chart:
    spec:
      chart: athens-proxy
      version: 0.15.5
      sourceRef:
        kind: HelmRepository
        name: athens
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    replicaCount: 1
    image:
      registry: registry.skysolutions.fi
      repository: docker.io/gomods/athens
      tag: v0.16.1
      # runAsNonRoot: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      allowPrivilegeEscalation: false

    strategy:
      # -- Using RollingUpdate requires a shared storage
      type: Recreate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 1

    ingress:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN_2}
      hosts:
        - host: athens.skysolutions.fi
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - athens.skysolutions.fi


    storage:
      type: disk
      disk:
        storageRoot: "/var/lib/athens"
        persistence:
          enabled: true
          accessMode: ReadWriteOnce
          size: 20Gi
          storageClass: zfs

    serviceAccount:
      create: true

    resources:
      limits:
        memory: 6Gi
      requests:
        memory: 2Gi

