apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app smtp-relay
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      replicas: 1
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/foxcpp/maddy
      tag: 0.7.0
    env:
      DEBUG: "true"
      SMTP_PORT: 587
    envFrom:
      - secretRef:
          name: smtp-relay-secret
    service:
      main:
        type: ClusterIP
        ports:
          http:
            port: 2525
          metrics:
            enabled: true
            port: 9749
    serviceMonitor:
      main:
        enabled: false
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    persistence:
      config:
        enabled: true
        type: configMap
        name: smtp-relay-configmap
        subPath: maddy.conf
        mountPath: /data/maddy.conf
        readOnly: true
      data:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
        mountPath: /dev/shm
    resources:
      requests:
        cpu: 10m
        memory: 10Mi
      limits:
        memory: 50Mi
