---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-redis
  labels:
    app.kubernetes.io/name: harbor-redis
    app.kubernetes.io/instance: harbor
spec:
  storageClassName: openebs-hostpath
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
